/* CSS Document */

/*botones de la cruuuuuz*/
.submit{
	text-decoration: none;
}

/*ESTILO DE LOS FORMS*/
.form-step {
  display: none;
  transform-origin: top;
  animation: animate 0.5s;
}

.form-step-active {
  display: block;
}


/* Progressbar */
.barsteps{
	display: flex;
	justify-content: center;
}

.progressbar {
  position: relative;
  display: flex;
  justify-content: space-between;
  counter-reset: step;
  margin: 2rem 0 4rem;
	width: 50%;
}

.progressbar::before,
.progress {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  height: 4px;
  width: 100%;
  background-color: #dcdcdc;
  z-index: -1;
}

.progress {
  background-color: var(--primary-color);
  width: 0%;
  transition: 0.3s;
}

.progress-step {
  width: 2.1875rem;
  height: 2.1875rem;
  background-color: #dcdcdc;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.progress-step::before {
  counter-increment: step;
  content: counter(step);
}

.progress-step::after {
  content: attr(data-title);
  position: absolute;
  top: calc(100% + 0.5rem);
  font-size: 0.85rem;
  color: #666;
}

.progress-step-active {
  background-color: var(--primary-color);
  color: #f3f3f3;
}


/*ESTILOS LUNAAAAAAA*/
.nav_steps{
	display: flex;
	padding: 15px 0px;
	justify-content: center;
	align-items: center;
}
.bg_wh{
	background-color: white !important;
	color: #6F6C90 !important;
	font-weight: 1;
}
.dot {
  	display: flex;
  	height: 50px;
  	width: 55px;
  	background-color: #474747;
  	border-radius: 50%;
  	justify-content: center;
  	align-items: center;
  	color: white;
  	text-decoration: none;
  	font-family: 'DM Sans', sans-serif;
	font-size: 35px;
	font-weight: 600;
}
.line{
	display: flex;
  	height: 8px;
  	width: 67px;
  	background-color: #474747;
  	border-radius: 10px;
  	justify-content: center;
  	align-items: center;
  	text-decoration: none;
}

@keyframes animate{
	from{
		transform: scale(1,0);
		opacity: 0;
		
	}
	to{
		transform: scale(1,1);
		opacity: 1;
	}
}