/* CSS Document */
#cuerpo_Reg{
	background-color: #E8EAEE;
	
}


.search-input{
	background: white;
	width: 100%;
	border-radius: 10px 10px 0 0 ;
}



.container {
    display: flex;
    flex-direction: column;
	justify-content: center;
	border-radius: 0 0 15px 15px;
	box-shadow: black;
}

.contenedor {
	margin:auto;
	background: white;
	border-radius: 0 0 15px 15px;
    display: flex;
    flex-direction: column;
    width: 84.5%;
	padding-bottom: 30px;
	margin-bottom: 50px;
}

.imagen {
  display: flex;
	align-items: center;
	justify-content: space-between;
	margin-top: 10px;
	margin-botton: 15px;
	margin-left: 25px;
	
}

.image{
	border-radius: 25px;	
	width: 175px;
	
}

.info {
  margin-left: 10px;
}


.Info-imagen{
	display: flex;
}


.boton{
			text-align:center;
			text-decoration: none;
      font-family: 'Helvetica Neue', Helvetica, sans-serif;
      display:inline-block;
			color: #FFF;
			background: #7F8C8D;
			padding: 15px 30px;
			white-space: nowrap;
			-webkit-border-radius: 5px;
			-moz-border-radius: 5px;
			border-radius: 5px;
			margin: 10px 5px;
			-webkit-transition: all 0.2s ease-in-out;
			-ms-transition: all 0.2s ease-in-out;
			-moz-transition: all 0.2s ease-in-out;
			-o-transition: all 0.2s ease-in-out;
			transition: all 0.2s ease-in-out;
}

.Edit{
	background-color: #507B3C;
	margin-right: 10px;
}
.Edit:hover{
  background: #27AE60;
}

