/* CSS Document */
/* Reset CSS básico */


/*/////////////////////////*/


body{
	background: #E8EAEE;
}
.container {
	padding-top: 130px;
	width:100%;
	padding-right: 100px;
	padding-left: 100px;
}



.search-input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  display: flex;	
  grid-gap: 10px;
	background-color: white;
}

.logo {
  width: 30px; /* ajusta el tamaño del logo según prefieras */
  height: 30px;
  margin-right: 10px; /* añade un espacio entre el logo y el input */
}

.search-button {
  width: 20%;
  padding: 10px;
  border: none;
  background-color: black; /* cambié el color a negro */
  color: white;
  border-radius: 7px;
	margin-left: 10px;
	margin-right: 10px;
}

.search-bar {
	border-radius: 7px;
	width: 150%;
	
}

.search-button:hover {
  background-color: gray; /* cambié el color al pasar el mouse */
}



select {
  width: 200px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 7px;
	
  left : 10px;
}

select:focus {
  outline: none; /* esto quita el borde azul al hacer clic */
}



.gallery {
  width: 85%;
  margin: 20px auto;
  display: flex; /* esto hace que los divs se alineen horizontalmente */
	background-color: white;
	justify-content: space-between;
}

.image-card {
  width: 33%; /* esto hace que cada div ocupe un tercio del ancho */
  padding: 10px;
}

.image {
  width: 100%; /* esto hace que la imagen ocupe todo el ancho del div */
	height: 200px;
	border-radius: 12px;
}

.author {
  font-style: italic; /* esto hace que el texto del autor sea cursiva */
}

.title {
  font-size: 24px; /* esto hace que el texto del título sea grande */
}



/* Esta es la media query para pantallas menores a 768px */

@media screen and (max-width :768px) {

	.container {
		width :100%; /* esto hace que el contenedor ocupe todo el ancho de la pantalla */
		flex-direction : column; /* esto hace que los elementos se alineen verticalmente */
		top :100 px; /* esto reduce el espacio desde arriba */
	}

	.search-input {
		width :100%; /* esto hace que el input ocupe todo el ancho del contenedor */
		border-radius :5 px; /* esto redondea los bordes del input */
	}

	.search-button {
		width :100%; /* esto hace que el botón ocupe todo el ancho del contenedor */
		border-radius :5 px; /* esto redondea los bordes del botón */
		margin-top :10 px; /* esto añade un espacio entre el input y el botón */
	}

	select {
		width : 100%; /* esto hace que el select ocupe todo el ancho de la pantalla */
		margin-top :10 px; /* esto añade un espacio entre el botón y el select */
	}

	.gallery {
		width : 100%; /* esto hace que la galería ocupe todo el ancho de la pantalla */
	}

	.image-card {
		width : 100%; /* esto hace que cada div ocupe todo el ancho de la pantalla */
		height: 30px;
	}
}

