@charset "utf-8";
/* CSS Document */
/* Reset CSS básico */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
	list-style: none;
}
.Header {
	z-index: 1000;
	background-color: #090505;
	width: 100%;
	height: 99px;
	font-family:aubrey;
	position: fixed;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.menu, .Boton_log{
	font-family: 'Poppins', sans-serif;
}
.Boton_nav{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 6px 10px 6px 10px;
	border-radius: 10px;
	transition: filter 0.3s ease;
}

.Boton_nav:hover{
	filter: invert(20%) saturate(5000%) hue-rotate(-10deg) brightness(90%) contrast(105%);
	border-radius: 10px;
	cursor: pointer;
}

.img_navigation{
	filter: invert(20%) saturate(5000%) hue-rotate(-10deg) brightness(90%) contrast(105%);
}

.Header{
	color: white;
}
.menu{
	width: 100%;
	position: absolute;
	display: flex;
	justify-content: center;
	align-items: center;
	padding-top: 10px;
}
.Logo{
	margin-left: 50px;
}

.Header_loguear{
	display: flex;
	margin-right: 30px;
	z-index: 2;
}

.Boton_log{
	padding: 7px 20px;
	transition: background-color 0.3s ease;
	 transition: color 0.4s ease;
	 
}
.Boton_log:hover{
	background-color: #847D7D;
	color: #000000;
	cursor: pointer;
}

.p1{
	color: rgba(150, 148, 148, 1);
	margin-bottom: 0px;
	padding-bottom: 0px;
	
}

.p2{
	color: rgba(67, 66, 66, 1);
	margin-top: 0px;
	padding-top: 0px;
}

.Boton_iniciar{
	background-color: rgba(210, 156, 76, 1) ;
	border: none;
	padding: 6px 20px;
	color: white;
	transition: background-color 0.3s ease;
}

.Boton_iniciar:hover{
	background-color: gray;
	cursor: pointer;
}

.Inf1{
	margin-top: 40px;
	margin-right: 80px;
	margin-bottom: 60px;
	margin-left: 60px;
}

.Inf1 h1{
	margin-top: 0px;
	padding-top: 0px;
}

.Inf2{
	display: flex;
	justify-content: flex-end;
}

.Inf2 img{
	margin-left: 20px;
}

.Lista_ventajas li{
	display: flex;
}


.Ventajas_icon{
	background-color: #F6E8D4 ;
	padding: 10px;
	margin: 10px;
	border-radius: 100px;
}

.Ventajas1{
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 40px;
}

.Lista_ventajas{
	margin-left: 80px;
}
.Titulo{
	display: flex;
	justify-content: center;
	text-align: center;
	margin-top: 70px; 
	margin-right: 200px ;
	margin-left: 200px;
}

.Ultimos_Registros{
	background-color: #5E7061;
}

.Seccion_reg{
	background-image: url("../IMAGENES/Fondo.png");
}

.Imagen_registro{
	width: 250px;
	height: 250px;
}
.Encabezado{
	width: 250px;
	margin-right: 60px;
	display: grid;
	justify-content: center;
	align-content: center;
	text-align: center;
	color: white;
}
.Texto_registro{
	display: grid;
	justify-content: center;
	align-content: center;
	width: 250px;
	padding: 20px;
	background-color: #5A4D39;
	color: white;
	
}

.Registro_suelo{
	display: flex;
	justify-content: center;
	align-content: center;
	margin-top: 30px;
}

.Registros_bdd{
	display: block;
	margin-top: 20px;
	padding-bottom: 60px;
}

.Marca{
	display: grid;
	justify-content: center;
	align-content: center;
	padding-top: 40px;
	padding-bottom: 40px;
}
.Brand{
	width: 100%;
	display: grid;
	justify-content: center;
	align-content: center;
}
.Brand img{
	width: 168.32px;
	height: 165px;
}
.Eslogan{
	display: grid;
	justify-content: center;
	align-content: center;
}
.Footer{
	padding: 30px 30px 10px 30px;
	background-color: #242430;
	color: white;
}
.Antes_linea{
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.About{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 6px 10px 6px 10px;
	margin-left: 150px;
	border-radius: 10px;
	transition: filter 0.3s ease;
	transition: color 0.6s ease;
	margin-right: 100px;
}

.About:hover{
	color: black;
	filter: invert(80%) saturate(5000%) hue-rotate(-10deg) brightness(90%) contrast(105%);
	border-radius: 10px;
	cursor: pointer;
}

.F1{
	display: flex;
	justify-content: center;
	align-content: center;
	
}

.Follow{
	display: flex;
	justify-content: center;
	align-content: center;
}
.Social{
	display: flex;
	justify-content: space-between;
	align-content: center;
}
.Redes{
	margin-right: 200px;
}

.Copy{
	margin-left: 100px;
}
.Link:Hover{
	color: gray;
	cursor: pointer;
}

.Social img:Hover{
	filter: invert(30%) saturate(5000%) hue-rotate(-10deg) brightness(90%) contrast(105%);
	cursor: pointer;
}
.Linea{
	border-top: solid 1px gray;
	margin: 20px 100px; 
}
#Titulo2{
	padding-top: 50px;
}

#Registrarse{
	background-color: #324629;
}
/* Aqui va lo nuevo */

#Registrarse:hover{
	background-color: #478F47;
	cursor: pointer;
}
#cont_menu{
	display: flex;
	width: 400px;
	justify-content: space-between;
}