/* CSS Document */

#idbody{
	background: #E8EAEE;
}
.content{
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.separador{
	padding-bottom: 110px;
}

img{
	width: 180px;
}

.ul1 li{
	display: grid;
	justify-content: flex-end;
	margin-top: 12px;
	margin-bottom: 10px;
}
.ul1{
	
}
.ul2 li{
	position: relative;
	margin-top: 8px;
	top: 10px;
}
.ul2 li input{
	border-radius: 10px;
	padding: 5px;
	border: none;
}

.noeditables{
	display: flex;
	flex-direction: column;
	margin-bottom: 3px;
	
} 
.noeditables li{
	margin-top: 2px;
}

.classul{
	display: flex;
	justify-content: center;
	
}

ul{
	list-style: none;
}

.css-boton {
  display: inline-block;
  background-color: #E6E6E6;
  padding: .5em 1em;
  color: #444;
  font-family: inherit;
  font-size: 100%;
  text-align: center;
  text-decoration: none;
  border-radius: 6px;
	margin-right: 5px;
}
.cancelar{
	color: aliceblue;
	background: rgb(202, 60, 60);
	width: 7%;
}
.save{
	color: aliceblue;
	background: black;
	border: none;
}
.cancelar:hover{
	background: red;
}
.save:hover{
	background: #372F2F;
}
.botones{
	display: flex;
	justify-content: center;
}


.text{
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.titulo{
	text-align: center;
}
.classimage{
	display: grid;
	justify-content: center;
}

.custom-file-upload {
  display: inline-block;
  background-color: #23A055;
  border: 1px solid #ccc;
  padding: 6px 12px;
  cursor: pointer;
  border-radius: 4px;
	color: white;
}
.custom-file-upload:hover{
	background-color: green;
}
.custom-file-upload span {
  font-size: 14px;
}

.file {
   display: none;
	
}
.uploadbuton{
	display: flex;
	justify-content: center;
}
